#container {
  margin: 30px;
  color: #3399FF;
}

#rock {
  margin-left: 150px;
  margin-bottom: 20px;
}

#lizard_paper {
  margin-left: 15px;
  margin-bottom: 35px;
}

#paper_image {
  margin-left: 180px;
}

#spock_scissors {
  margin-left: 83px;
}

#scissors_image {
  margin-left: 40px;
}

#selection {
  margin-top: 30px;
}

#result {
  color: red;
}